<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ürünler</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    </style>
</head>
<body>
<h2>Ürün Listesi</h2>
<input style="float:left;"type="button" onclick="location.href = '/';" value="Listeye Geri Dön"/>
<form action="{{ Product }}" method="POST">
    <input style="float:right;" type="submit" value="Sorgula"/>
    <input style="float:right;" type="text" name="productID" placeholder="Ürün ID"/>
</form>
<table>
    <tr>
        <th>Ürün Resmi</th>
        <th>Ürün ID'si</th>
        <th>Ürün Adı</th>
        <th>Ürün Açıklaması</th>
        <th>Ürün Çıkış Tarihi</th>
        <th>Ürün Fiyatı</th>
    </tr>
    {% if product is defined %}
    <tr>
        <td><img src="{{ product['imageURL'] }}" width="120" height="120"></td>
        <td>{{ product['id'] }}</td>
        <td>{{ product['productName'] }}</td>
        <td>{{ product['productDescription'] }}</td>
        <td>{{ product['productReleaseDate'] }}</td>
        <td>{{ "%.2f"|format(product['productPrice']) }}</td>
    </tr>
    {% endif %}

</table>
</body>
</html>